* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Montserrat', sans-serif;   
}
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* title heading */
.title__heading {
    max-width: 700px;
}
.title__heading .title__main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}
.title__heading .title__main span {
    color: #ff6e65;
}
.title__heading .title__main:before {
    left: -20px;
    bottom: -8px;
}
.title__heading .title__main:after {
    left: 20px;
    bottom: -15px;
}
.title__heading .title__main:before,.title__heading .title__main:after {
    content: "";
    background:#707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    display: block;
}
/* Light theme */
#switchButton {
    color: #4867b0;
    margin-left: 10px;
    font-size: 26px;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
#switchButton .fa-sun {
    display: none;
}
#switchButton .fa-moon {
    display: block;
    border: none;
}
#switchButton .fa-moon:hover{
    color: #e71d36;
}
/* header */
.header {
    background: #0d369f;
    padding: 14px 15px;
}
.header__right a,
.header__left a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-right: 32px;
    text-decoration: none;
    transition: all 0.5s;
}
.header__right a:hover,
.header__left a:hover{ 
    color: #ff4f81;
}

.header__phone{
    font-size: 12px;  
}
.header__left i{
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
    color: #fff;
}
.header__main {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s !important;
    height: 90px;
    display: grid;
    align-items: center;
}
.fixed-top {
    position: sticky;
}
.nav__fixed {
    padding: 0px;
    border-bottom: none;
    z-index: 999 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
}
.header__main .navbar-brand{
    color: #0d369f;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}
.header__main .navbar-brand:hover {
    color: #e71d36;
}
.header__main .navbar-nav {
    margin-left: auto;
}

.header__main .nav-item {
    font-size: 16px;
    font-weight: 500;
    margin: 0 4px;
    transition: all 0.5s ease;
    position: relative;
}
.header__main .nav-link {
    transition: all 0.5s;
}
.header__main .nav-link i {
    font-size: 12px;
    vertical-align: middle;
    margin-top: -1px;
    color: #888;
    transition: all 0.5s;
}
.header__main .nav-item a.active {
    color: #ff6e65;
}
.header__main .nav-item a:hover i,
.header__main .nav-item a:hover {
    color: #ff6e65;
}
.header__main .nav-item a {
    color: #060606;
}
.header__main .form-control:focus {
    box-shadow: none;
}
.header__main .dropdown-menu {
    background: #fff;
    transform: translateX(-50px);
    padding: 1rem 0.3rem;
    border: 1px solid transparent;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}
.header__main .dropdown-menu::before {
    content: "";
    position: absolute;
    right: 94px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header__main .dropdown-item {
    background-color: #fff;
    transition: all 0.5s;   
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.dropdown-toggle::after {
    border-top: none;
    border-right: 0;
    border-bottom: 0;
    border-left:0;
    display: none;
}
.header__main .input__search input {
    font-size: 15px;
    color: #060606;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    height: 48px;
    border-radius: 30px;
    border: 2px solid #eee;
    position: relative;
}
.header__main .search__btn {
    position: absolute;
    right: 1px;
    bottom: 3px;
    font-size: 18px;
    color: #0d369f;
}
.header__main .search__btn:hover {
    color: #e71d36;
}
/* carousel */
.carousel-item {
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel__view {
    position: relative;
    z-index: 0;
    align-items: center;
    padding: 3em 0;
    min-height: 90vh;
    width: 100%;
}
.carousel-item:nth-child(1) {
    background-image: url(https://wp.w3layouts.com/studious/wp-content/themes/studious/assets/images/banner2.jpg);
}
    
.carousel-item:nth-child(2) {
    background-image: url(https://wp.w3layouts.com/studious/wp-content/themes/studious/assets/images/banner3.jpg);
}
.carousel-item h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}
.carousel__view::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.carousel-caption {  
    max-width: 600px;
    right: unset;
    text-align: left;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
}
.carousel-item .btn__more {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all 0.5s;
}
.carousel-item .btn__more:hover {
    background-color: #ff6e65;
    color: #fff;
}
.carousel-indicators {
    position: absolute;
    right: 1.2vw;
    bottom: 14vh;
    left: unset;
    z-index: 15;
    display: grid;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    /* margin-right: 15%; */
    /* margin-left: 15%; */
    list-style: none;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.carousel-indicators li.active {
    background-color: #ff6e65;
}
/* intro */
.intro {
    position: relative;
    margin-top: -4em;
    padding-bottom: 5rem;
}
.intro__item {
    position: relative;
    padding: 50px 35px;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
}
.intro .intro__item i {
    color: #fff;
    font-size: 45px;
}
.intro .intro__item .fa-book{
    transform: skewX(-15deg);
}
.intro .intro__item a {
    text-decoration: none;
    margin-top: 25px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.5s;
}
.intro .intro__item a:hover {
    color: #000;
}
.intro .intro__item h3{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600;
    display: block;
}
.intro .item__blue {
    background-color: #037ef3;
}
.intro .item__yellow {
    background-color: #ffc949;
}
.intro .item__pink {
    background-color: #ff4f81;
}
.intro .item__green {
    background-color: #1ee697;
}

.navbar .search-right {
    margin: 0 10px 0 10px;
}
/* Studious*/
.studious__item {
    margin-top: 20px;
}
.studious__icon span{
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    display: inline-block;
}
.studious__item .fa-book{
    transform: skewX(-10deg);
}
.studious__item h5{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 1.5rem;
}
.studious__item h5:hover{
    color: #ff6e65;
}
.studious__item p {
    margin-top: 15px;
    color: #666;
    padding: 0 8px;
}
/* sercices */
.services {
    background-image: url(https://wp.w3layouts.com/studious/wp-content/themes/studious/assets/images/bg3.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.sercices__item {
    background: #fff;
    padding: 33px;
    margin: 12px 0;
    border-radius: 8px;
}
.sercices__item .icon {
    margin-right: 1rem;
}
.sercices__item .icon i {
    width: 65px;
    height: 65px;
    line-height: 65px;
    color: #0d369f;
    font-size: 28px;
    border-radius: 50%;
    background: rgb(13 54 159 / 9%);
    text-align: center;
}
.services__infor h5 {
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}
.services__infor p {
    color: #666;
    line-height: 26px;
    margin: 0;
}
/* number */
.number__main .title__heading p {
    font-size: 16px;
    line-height: 28px;
    color:#666;
    letter-spacing: 0.4px;
}
.number__content .counter__number h1{
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}
.number__content .counter {
    border-right: 1px solid #eee;
}
.number__content .counter__text p {
    font-size: 16px;
    line-height: 28px;
    color: #060606;
    letter-spacing: 0.4px;
}

/* feedback */
.feedback {
    margin: 5rem 0;
}
.feedback .feedback__item {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    border-radius: 4px;
}
.feedback__item span i {
    font-size: 22px;
    color: #ff6e65;
    line-height: 0.8;
}
.feedback__item p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}
.feedback__info {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 5px;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}
.feedback__info .feedback__img img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.feedback__info .feedback__text h4 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 16px;
}
.feedback__info .feedback__text p {
    color: #888;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

/* instructors */
.instructors {
    margin-top: 7rem;
}
.instructors__item {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
.instructors__img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.instructors__img img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.instructors__text {
    margin-top: 1.5rem;
}
.instructors__text h5 {
    font-weight: 600;
    cursor: pointer;
}
.instructors__text p {
    font-size: 13px;
    color: #888;
}
.instructors__overlay {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    bottom: -90px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    text-align: center;
    transition: all 0.5s;
    opacity: 0;
}
.instructors__item:hover .instructors__overlay {
    opacity: 1;
    bottom: 0;
    left: 0;
}
.instructors__overlay span {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.instructors__overlay span i {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}

/* contact */
.contact {
    padding-bottom: 7rem;
}
.contact__img {
    max-width: 100%;
}
.contact__right h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}
.contact__right p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}
.contact__btn {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background: #ff6e65;
    border: none;
    transition: all .25s ease-in-out;
}
.contact__btn:hover {
    background-color: #0d369f;
    color: #fff;
}
/* footer */
.footer {
    margin-top: 7rem;
    position: relative;
}
.footer__main {
    padding: 80px 0;
    background: #060e1f;
}
.footer__top {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: -110px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer__title h1{
    font-size: 34px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}
.footer__title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #707070;
}
.footer__form input{
    padding: 15px 20px;
    height: 55px;
    border:1px solid #eee;
    font-size: 16px;
    width: 100%;
    border-radius: 8px 0 0 8px;
    color: #060606;
    border-right: 0;
}
.footer__form button {
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    background-color: #0d369f;
    color: #fff;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
}
.form__control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
.footer__form button:hover {
    background-color: #4867b0;
    color: #fff;
}
.footer__bottom {
    margin-top: 120px;
}
.footer__item h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer__item li {
    list-style: none;

}
.footer__item li a {
    text-decoration: none;   
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block; 
    transition: all 0.5s;
}
.footer__item li:hover a{
    color: #fff;
}
.footer__item li i {
    margin-right: 10px;
    font-size: 12px;
}
.footer__item p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.footer__about {
    border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer__social span {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}
.footer__social span:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}
.copyright__footer {
    background: #040a17;
    padding: 20px 0;
}
.copyright {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
    margin-top: 20px;
}
.copyright a {
    color: #fff;
}

/* ----------------------------------backToTOp----------------- */
/* backToTop */
.backToTop {
    position: fixed;
    right: 15px;
    bottom: 90px;
    font-size: 16px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #0d369f;
    text-align: center;
    border-radius: 5px;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    padding: 0;
    display: block;
    z-index: 10;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
.backToTop:hover {
    opacity: 0.8;
  }
